<?xml version="1.0"?>
<model>
  <name>simple_bot</name>
  <version>1.0</version>
  <!-- <sdf>urdf/val2.urdf</sdf> -->
  <sdf>simple_bot.urdf</sdf>
  <author>
   <name>C.Sorawit</name>
   <email>sorawit.chatuphonphiset.a@gmail.com</email>
  </author>

  <description>
    Simple robot
  </description>
</model>