<?xml version="1.0"?>
<launch>
    <arg name="name" default="ydlidar"/>
    <arg name="rviz_config" default="$(find val2_description)/rviz_config/view_model.rviz"/>
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find val2_description)/sensors/$(arg name)/$(arg name)_g4.xacro'"/>

    <!-- Robot param -->
    <param name="robot_description" command="$(arg urdf_file)"/>

    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" value="20"/>
        <param name="use_tf_static" value="true"/>
    </node>

    <!-- send fake joint values -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(arg rviz_config)"/>

</launch>
