<?xml version="1.0"?>
<launch>

    <!--SETUP GUI NODE-->
    <node name="val2sim_gui_type1_node"   pkg="val2sim_gui"    type="val2sim_gui_type1.py"   output="screen">
    </node>

    <!--SETUP TYPE1 FSM SUBSCRIBER NODE-->
    <node name="type1_fsm_subscriber_node"   pkg="val2sim_gui"    type="type1_fsm_subscriber.py"   output="screen">
    </node>

    <!--SETUP TYPE1 PAUSE SUBSCRIBER NODE-->
    <node name="type1_pause_subscriber_node"   pkg="val2sim_gui"    type="type1_pause_subscriber.py"   output="screen">
    </node>
    
</launch>
