<?xml version="1.0"?>
<launch>
    
    <!-- VAL2 NAVIGATION -->
    <!-- localization, map server and move base node-->
    <include file="$(find val2sim_navigation)/launch/val2sim_navigation_surveillance.launch" />

    <!-- GOAL TRANSFORM -->
    <!-- station1, station2, station3, station4, base station and charging station coordinate frames -->
    <include file="$(find val2sim_bringup)/launch/goal_frame/surveillance_goal.launch" />

    <!-- GUI NODE -->
    <!-- graphic user interface node for surveillance robot -->
    <include file="$(find val2sim_gui)/launch/val2sim_gui_surveillance.launch" />

</launch>
