<?xml version="1.0"?>
<model>
  <name>val2bot</name>
  <version>1.0</version>
  <!-- <sdf>urdf/val2.urdf</sdf> -->
  <sdf>val2.urdf</sdf>
  <author>
   <name>C.Sorawit</name>
   <email>sorawit.chatuphonphiset.a@gmail.com</email>
  </author>

  <description>
    Reception Robot of Solustar Pte Ltd
  </description>
</model>