<?xml version="1.0" ?>
<model>
    <name>singtel_floor2</name>
    <version>1.0</version>
    <sdf version="1.6">singtel_floor2.sdf</sdf>
    <author>
        <name>C.Sorawit</name>
        <email>sorawit.chatuphonphiset@gmail.com</email>
    </author>
    <description>Singtel Floor 2 World Simualtion</description>
</model>
