<?xml version="1.0" ?>
<model>
    <name>singtel_floor4_in</name>
    <version>1.0</version>
    <sdf version="1.6">singtel_floor4_in.sdf</sdf>
    <author>
        <name>C.Sorawit</name>
        <email>sorawit.chatuphonphiset.a@gmail.com</email>
    </author>
    <description>Singtel Floor 4 Inside World Simulation</description>
</model>
